{
  "$schema": "https://swc.rs/schema.json",
  "minify": false,
  "sourceMaps": true,
  "env": {
    "target": "node",
    "mode": "entry",
    "coreJs": "3"
  },
  "module": {
    "type": "es6"
  },
  "jsc": {
    "externalHelpers": true,
    "minify": {
      "format": {
        "comments": "all"
      }
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    }
  }
}
